<ion-header>
  <ion-toolbar>
    <ion-back-button  class="but" defaultHref="/" slot="start" ></ion-back-button>
    <ion-title>Users
      <ion-icon class="plus" routerLink="/users/add" name="add-circle-outline"></ion-icon>

    </ion-title>
  
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="Refresh($event)"  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<table style="width: 100%;text-align: center;color: white;">
  <thead style="height: 35px;">
    <tr style="background: cadetblue;">
      <th>Name</th>
      <th>Phone</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    <tr style="border-bottom: 1px solid;font-size: 15px;" 
    *ngFor="let item of users;let index=index">
      <td routerLink="/users/update/{{item._id}}">{{item.name}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.password}}
        <ion-icon class="delet" (click)="presentAlert(item._id,index)" name="trash-outline"></ion-icon>
      </td>
    </tr>
  </tbody>
</table>

</ion-content>
