.login1{
  
    height: 40%;
    width: 80%;
    margin-left: 25px;
    margin-top: 140px;
}
ion-content{
    --background: linear-gradient(rgb(23, 146, 42), rgb(21, 221, 10), rgb(245, 252, 245));

}
.login2{
    --background: linear-gradient(rgb(25, 182, 49), rgb(21, 221, 10), rgb(59, 234, 59));
}

.log{
    --background: linear-gradient(rgb(23, 146, 42), rgb(21, 221, 10), rgb(245, 252, 245));

}




