
<ion-content >
<form class="login1" >
  <ion-item class="login2">
    <ion-label  position="floating">
      Phone
    </ion-label>
    <ion-input [ngModelOptions]="{standalone: true}"
     [(ngModel)]="model.phone"
       position="floating" type="text"required></ion-input>
  </ion-item>
  <ion-item class="login2">
    <ion-label position="floating">password</ion-label>
    <ion-input [ngModelOptions]="{standalone: true}"
     [(ngModel)]="model.password" 
      position="floating" type="Password" required></ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
    <ion-button class="log"  (click)="onSubmit() "  type="submit"  expand="block">
     Login
    </ion-button>
</ion-col>
</ion-row>
</form>
</ion-content>