<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Add-consumption</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Items</ion-label>
      <ion-select [(ngModel)]="model.itemId">
        <ion-select-option *ngFor="let item of items" [value]="item._id">
          {{ item.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Date
      </ion-label>
      <ion-input [(ngModel)]="model.date" type="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Quantity(liters)
      </ion-label>
      <ion-input (ionChange)="getPrice()" [(ngModel)]="model.quantity" type="number" ></ion-input>
    </ion-item>
      <ion-button (click)="save()" expand="full" color="success">SAVE</ion-button>
  </ion-list>
</ion-content>
